*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  display: grid;
  font-size: 18px;
  place-items: center;
  height: 100vh;
  width: 100vw;
  background: hsl(217, 54%, 11%);
  padding: 2rem;
}

article {
  max-width: 25rem;
  color: hsl(215, 32%, 27%);
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  padding: 1.5rem;
  grid-template-columns: minmax(275px, 1440px);
}

.main-photo {
  position: relative;
}

.main-photo img {
  width: 100%;
  max-width: 25rem;
  border-radius: 15px;
}

.main-photo::after {
  content: url(../images/icon-view.svg);
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.main-photo:hover::after {
  opacity: 1;
  cursor: pointer;
}

.content h2 {
  padding: 1rem 0;
  color: hsl(0, 0%, 100%);
}

.content p {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  padding-bottom: 2rem;
  line-height: 1.5rem;
}

.price {
  display: flex;
  justify-content: space-between;
}

.Ethereum-text {
  color: hsl(178, 100%, 50%);
  font-weight: bold;
}

.clock-text {
  color: hsl(215, 51%, 70%);
}

.underline {
  max-width: 25rem;
  height: 3.5px;
  background: hsl(215, 32%, 27%);
  margin-top: 1.5rem;
}
.avatar {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  transform: scale(0.7);
}

.creator-section {
  display: flex;
  height: 5rem;
}

.creator {
  margin-top: 1.7rem;
}

.creator span {
  color: hsl(0, 0%, 100%);
}

.cube:hover {
  opacity: 0.5;
}

.creator span:hover {
  color: hsl(178, 100%, 50%);
}

h2:hover {
  color: hsl(178, 100%, 50%);
}
